
// Places to visit gallery
.gallery {

  &__ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px 77px; 
  }

  &__title {
    padding-left: 2.125em;
    background: url(../assets/icons/location.svg) no-repeat left;
    color: $golden;
    display: inline;

    &:hover {
      text-decoration: underline;
    }
  }
  
}