/* gallery places*/
section {
  .gallery-gap {
    margin: 40px auto 40px;
  }

  .gallery__ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px 78px;
  }
}

.information{
  background-color: #77B176;
  padding: 70px 30px;
  font-size: 1.75rem;
  font-weight:500;
}

.content__tab-2 {
  border: 2px solid ;

  .hotel {
    height: 400px;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    
    &__link-1 {
      background: url(../assets/img/gallery-places/california.png) no-repeat center;
      background-size: cover;
    }
    
    &__link-2 {
      background: url(../assets/img/gallery-places/resort.png) no-repeat center;
      background-size: cover;
    }
  }
}

.flex-tab2{
  display: flex;
}

.color-titile{
  color:$white;
}
